process FSIM  = 
{
    # Keep the logging output to a nice level #
    include "FWCore/MessageService/data/MessageLogger.cfi"
    replace MessageLogger.destinations = {"detailedInfo.txt"}

    source = PoolSource
    {
      untracked vstring fileNames = {
      'file:/data1/tomei/CMSSW_1_8_4/src/RSGraviton/RS500_ZZ_4j_GEN_10TeV.root'
      }
    }

    # The number of events to be processed.
    untracked PSet maxEvents = {untracked int32 input = -1}
    
    # RandomNumberGeneratorService
    include "FastSimulation/Configuration/data/RandomServiceInitialization.cff"

    # Basic setup
    include "FastSimulation/Configuration/data/CommonInputs.cff"
    include "FastSimulation/Configuration/data/FamosSequences.cff"
    include "FastSimulation/HighLevelTrigger/data/common/NoHLTSetup.cff"
    
    // If you want to turn on/off pile-up
    # replace famosPileUp.PileUpSimulator.averageNumber = 5.0    
    // Parametrized magnetic field
    replace VolumeBasedMagneticFieldESProducer.useParametrizedTrackerField = true
    // You may not want to simulate everything for your study
    replace famosSimHits.SimulateCalorimetry = true
    replace famosSimHits.SimulateTracking = true
    replace famosSimHits.SimulateMuons = true

    # Tracker MisAlignement 
    replace misalignedTrackerGeometry.applyAlignment = true
    replace famosSimHits.ApplyAlignment = true
    replace trackerAlignment.toGet= {
      { string record = "TrackerAlignmentRcd" string tag = "Tracker100pbScenario170" },
      { string record = "TrackerAlignmentErrorRcd" string tag = "Tracker100pbScenarioErrors170" }
    }
   
    # ECAL and HCAL MisCalibration
    replace caloRecHits.RecHitsFactory.doMiscalib=true
    replace caloRecHits.RecHitsFactory.ECALBarrel.Refactor = 0.22
    replace caloRecHits.RecHitsFactory.ECALBarrel.Refactor_mean = 1.0
    replace caloRecHits.RecHitsFactory.ECALEndcap.Refactor = 0.4
    replace caloRecHits.RecHitsFactory.ECALEndcap.Refactor_mean = 1.0
    replace caloRecHits.RecHitsFactory.HCAL.Refactor = 0.5
    replace caloRecHits.RecHitsFactory.HCAL.Refactor_mean = 1.0
    
    service = Timing { }
    
    path p1 = { 
	famosWithTracksAndCaloTowers
    }

    # To write out events (not need: FastSimulation _is_ fast!)
    include "FastSimulation/Configuration/data/EventContent.cff"
    module o1 = PoolOutputModule { 
        using AODSIMEventContent
	untracked string fileName = "RS500_ZZ_4j_AOD_10TeV.root" 
    }
    endpath outpath = { o1 }
}		
