process USER = {

  untracked PSet maxEvents = {untracked int32 input = 1}


  source = PythiaSource 
  {
   untracked int32 pythiaPylistVerbosity = 0
   untracked bool  pythiaHepMCVerbosity = false
   untracked int32 maxEventsToPrint = 1
  
   PSet PythiaParameters = {

    # This is a vector of ParameterSet names to be read, in this order
    # The first one sets some defaults
    # The second one are the user specific parameters
    vstring parameterSets = {
      "pythiaUESettings",
      "myParameters"
    }

    # The second file includes the "myParameters" string.	
    include "Configuration/Generator/data/PythiaUESettings.cfi"	
    include "Pythia_Zjjjj.cfi"
		    
    }
   }
  
  service = RandomNumberGeneratorService {
    untracked uint32 sourceSeed = 867037 
    PSet moduleSeeds =
      {
        untracked uint32 VtxSmeared = 98765432
        untracked uint32 g4SimHits  = 11
        untracked uint32 mix        = 12345
        untracked uint32 siPixelDigis = 42
        untracked uint32 siStripDigis = 24121983
        untracked uint32 ecalUnsuppressedDigis = 5289
        untracked uint32 hcalDigis  = 46120560
        untracked uint32 muonCSCDigis  = 55715156
        untracked uint32 muonDTDigis = 91271165
        untracked uint32 muonRPCDigis = 91591422
      }  
   }

  include "SimGeneral/HepPDTESSource/data/pythiapdt.cfi"
  include "PhysicsTools/HepMCCandAlgos/data/genParticles.cfi" 
  include "PhysicsTools/HepMCCandAlgos/data/genParticleCandidatesFast.cfi"  

#  include "Configuration/StandardSequences/data/Simulation.cff"
#  include "Configuration/StandardSequences/data/VtxSmearedGauss.cff"
#  include "Configuration/StandardSequences/data/MixingNoPileUp.cff"
#  include "Configuration/StandardSequences/data/FakeConditions.cff"
#  include "Configuration/StandardSequences/data/Reconstruction.cff" 
  
#  include "Configuration/EventContent/data/EventContent.cff"
  module out = PoolOutputModule 
   { 
#     using FEVTSIMEventContent
#    untracked string fileName = 
#      "/afs/cern.ch/user/t/tomei/scratch0/RSgravitonGEN.root"        
     untracked string fileName = "RSgravitonGEN.root"
   }

  path p = {genParticles}
#  path p = {psim, pdigi}
  endpath ep = { out }

}
